#!/bin/bash

#***********************************************************************#
#                             Useful aliases                            #
#***********************************************************************#
alias l='ls -ahlpG'
alias ll='ls -ahlpG'
alias cl='clear'
alias ~='cd ~'
alias .='cd ..'
alias ..='cd ..'
alias grep='grep --color=always'
alias ps-grep='ps aux | grep'
alias tir='tig refs'

#***********************************************************************#
#                             Bash aliases                              #
#***********************************************************************#
alias rebash='source ~/.bash_profile'
alias brc='code ~/.bashrc'

#***********************************************************************#
#                             Git aliases                               #
#***********************************************************************#
alias s='git status'
alias prune-merged='git branch --merged | grep -v "master" >/tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -d </tmp/merged-branches && rm /tmp/merged-branches'
alias master='git checkout master; git pull;'
alias cb='current_branch'

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ".aliases.local" ] && source ".aliases.local"
