#!/bin/bash

#***********************************************************************#
#                             Useful aliases                            #
#***********************************************************************#
alias l='ls -ahlpG'
alias ll='ls -ahlpG'
alias cl='clear'
alias ~='cd ~'
alias ..='cd ..'
alias grep='grep --color=always'
alias ps-grep='ps aux | grep'
alias path='echo $PATH | tr ":" "\n"'

#***********************************************************************#
#                             Bash aliases                              #
#***********************************************************************#
alias rebash='verbose_rebash=true && source ~/.bash_profile && unset verbose_rebash'
alias brc='code ~/.bashrc'

#***********************************************************************#
#                             Git aliases                               #
#***********************************************************************#
alias s='git status'
alias prune-merged='git branch --merged | grep -v "master" >/tmp/merged-branches && vi /tmp/merged-branches && xargs git branch -d </tmp/merged-branches && rm /tmp/merged-branches'
alias master='git checkout master; git pull;'
alias cb='current_branch'
alias tir='tig refs'
alias git-ignore='git update-index --assume-unchanged'
alias git-unignore='git update-index --no-assume-unchanged'

if [[ $verbose_rebash ]]; then echo "SOURCED .aliases"; fi

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f "$HOME/.aliases.local" ] && source "$HOME/.aliases.local"
