#***********************************************************************#
#                        Useful terminal settings                       #
#***********************************************************************#
# remove hostname from agnoster prompt
export AGNOSTER_PROMPT_SEGMENTS[2]=

export PATH="$(echo /opt/homebrew/opt/{coreutils,findutils,gawk}/libexec/gnubin | tr ' ' :):$PATH"

export WEZTERM_SESSION=$(wezterm cli list --format json | jq  --arg tty "$TTY" -j '.[] | select(.tty_name == $tty) | "t",.tab_id,"p",.pane_id')

#***********************************************************************#
#                        Path related settings                          #
#***********************************************************************#
# Clean up duplicates
# Found from: http://unix.stackexchange.com/a/40755
PATH=`printf %s "$PATH" | awk -v RS=: '{ if (!arr[$0]++) {printf("%s%s",!ln++?"":":",$0)}}'`

if [[ $verbose_resource ]]; then echo "SOURCED .exports"; fi

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f "$HOME/.exports.local" ] && source "$HOME/.exports.local"
