[user]
	name = Cody Flatla
[core]
	excludesfile = /Users/cody/.gitignore_global
[alias]
	co = checkout
	b = branch
	s = status
[push]
	default = current

# Don't add any configuration below this line
# This is to support a local gitconfig file
[include]
  path = .gitconfig.local
