[user]
	name = Cody Flatla
[core]
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	b = branch
	s = status
	l = log
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep '^[[:lower:]]'
[push]
	default = current
[pull]
	rebase = false

# Don't add any configuration below this line
# This is to support a local gitconfig file
[include]
	path = .gitconfig.local
