[user]
	name = Cody Flatla
[core]
	excludesfile = $HOME/.gitignore_global
[alias]
	co = checkout
	b = branch
	s = status
	l = log
[push]
	default = current

# Don't add any configuration below this line
# This is to support a local gitconfig file
[include]
	path = .gitconfig.local
